<div class="container">
  <div class="row">
    <div class="col-12-sm">
      <h1>Collections</h1>
      <div *ngFor="let collection of collections.CurrentUserCollections.reverse()">
        <mat-card>
          <h2>{{collection.name}} - <a target="_blank" href="{{collection.getMassEntryLink()}}">${{(collection.getPrice() | number)}}</a></h2>     
          <button mat-stroked-button (click)="openRenameDialog(collection)">Rename</button>     
          <button mat-stroked-button (click)="openDialog(collection)">Delete</button>         
          <button mat-stroked-button (click)="openImportDialog(collection)">Import</button>         

          <div class="row">
            <div class="col-sm-2">
                <h4>Average CMC: {{(collection.getAverageCMC() | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Creature')" class="col-sm-2">
              <h4>Creatures: {{(collection.amountOfCreature | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Planeswalker')" class="col-sm-2">
              <h4>Planeswalkers: {{(collection.amountOfPlaneswalker | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Sorcery')" class="col-sm-2">
              <h4>Sorceries: {{(collection.amountOfSorcery | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Instant')" class="col-sm-2">
              <h4>Instants: {{(collection.amountOfInstant | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Artifact')" class="col-sm-2">
              <h4>Artifacts: {{(collection.amountOfArtifact | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Enchantment')" class="col-sm-2">
              <h4>Enchantments: {{(collection.amountOfEnchantment | number)}}</h4>
            </div>
            <div *ngIf="collection.getTypeAmount('Land')" class="col-sm-2">
              <h4>Lands: {{(collection.amountOfLand | number)}}</h4>
            </div>
          </div>
          
          <mat-divider></mat-divider>
          <br>
          
          <div *ngFor="let card of collection.collectionArray">
                <div *ngIf='!card.card_faces' >         
                    <div *ngIf="card.image_uris.png"class="col-sm-2">
                      <a href="{{collections.makeAffiliateLink(card.purchase_uris.tcgplayer)}}" target="_blank">
                        <img class="img-responsive img-rounded" src='{{card.image_uris.png}}'>
                      </a>     
                    </div>
                  </div>
                  <div *ngIf='card.card_faces'>
                    <div *ngIf="card.card_faces.length" class="col-sm-2">
                      <div *ngIf="card.card_faces.length === 2">
                        <a href="{{collections.makeAffiliateLink(card.purchase_uris.tcgplayer)}}" target="_blank">
                          <img *ngIf='card.card_faces[0].image_uris' class="img-responsive img-rounded" src='{{card.card_faces[0].image_uris.png}}'>
                          <img *ngIf='!card.card_faces[0].image_uris && card.image_uris.png' class="img-responsive img-rounded" src='{{card.image_uris.png}}'>
                        </a>     
                      </div>
                    </div>
                  </div>              
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <table class="table table-bordered">
                    <tbody>
                      <tr *ngIf='card.name' class="info">
                        <td>{{card.name}}</td>
                      </tr>  
                      <tr *ngIf='card.set_name' class="info">
                        <td>Set: {{card.set_name}}</td>
                      </tr>    
                      <tr *ngIf='card.type_line' class="info">
                        <td>Card Type: {{card.type_line}}</td>
                      </tr>
                      <tr *ngIf='card.colors && card.colors.length >= 1' class="info">
                        <td>Colors: {{card.colors}}</td>
                      </tr>
                      <tr *ngIf='card.colors && card.colors.length === 0' class="info">
                        <td>Colors: Colorless</td>
                      </tr>
                      <tr *ngIf='card.prices' class="info">           
                          <td *ngIf='card.prices.usd'>
                            <a href="{{collections.makeAffiliateLink(card.purchase_uris.tcgplayer)}}" class="link" target="_blank">
                              TCGPlayer Price: ${{card.prices.usd}}             
                            </a>
                          </td>
                      </tr>
                      <tr *ngIf='card.prices' class='info'>
                          <td *ngIf='card.prices.usd_foil && !card.prices.usd'>
                              <a href="{{collections.makeAffiliateLink(card.purchase_uris.tcgplayer)}}" class="link" target="_blank">
                                TCGPlayer Price: ${{card.prices.usd_foil}}             
                              </a>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br><br><br><br>
                <div class="col-sm-3">
                  <button mat-stroked-button (click)='collections.removeCard(card, collection)'>Remove {{card.name}}</button>
                </div>
              </div>
            <br>
          </div>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
    
</div>
