<div class="container">
    <div class="row">
      <div class="col-sm-10">
            <input [(ngModel)]="selected"
            [typeahead]="cards"
            class="form-control">
      </div>
      <div class="col-sm-2">
          <button mat-stroked-button (click)='searchForCards(selected)'>Search</button>        
      </div>
    </div> 
    <div class="row">

    </div>
</div>
<br>

<div class="container">
  <div *ngIf='cardResults' class="row">
    <div *ngFor='let card of cardResults'>
      <div *ngIf='!card.card_faces' class="row">         
        <div *ngIf="card.image_uris.png"class="col-sm-3">
          <a href="{{card.purchase_uris.tcgplayer}}" target="_blank">
            <img class="img-responsive img-rounded" src='{{card.image_uris.png}}'>
          </a>     
        </div>
        <br><br><br><br><BR>
        <div class="row">
          <div class="col-sm-4">
            <table class="table table-bordered">
              <tbody>
                <tr *ngIf='card.name' class="info">
                  <td>{{card.name}}</td>
                </tr>  
                <tr *ngIf='card.set_name' class="info">
                    <td>Set: {{card.set_name}}</td>
                  </tr>    
                <tr *ngIf='card.type_line' class="info">
                  <td>Card Type: {{card.type_line}}</td>
                </tr>
                <tr *ngIf='card.colors.length >= 1' class="info">
                  <td>Colors: {{card.colors}}</td>
                </tr>
                <tr *ngIf='card.colors.length === 0' class="info">
                    <td>Colors: Colorless</td>
                  </tr>
                <tr *ngIf='card.prices.usd' class="info">           
                    <td>
                      <a href="{{card.purchase_uris.tcgplayer}}" class="link" target="_blank">
                        TCGPlayer Price: ${{card.prices.usd}}             
                      </a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>  
          <app-collection-manager *ngIf="[card]" [card]=card></app-collection-manager>
        </div>
      </div>  
    </div>
  </div>
</div>
