<div *ngFor="let card of setCards">
  <div class="row">
    <div class="col-sm-8">
      <div *ngIf="card.image_uris.png"class="col-sm-3">
        <a href="{{card.purchase_uris.tcgplayer}}" target="_blank">
          <img class="img-responsive img-rounded" src='{{card.image_uris.png}}'>
        </a>
             
      </div>
      <div class="col-sm-3">
        <br><br><br><br>
          <app-collection-manager *ngIf="[card]" [card]=card></app-collection-manager>
        </div>
    </div>
  </div>
<br>
</div>

