<div mat-dialog-content>
    <p>Collection to add to:</p>
    <mat-form-field>
      <mat-label>Collection:</mat-label>
      <mat-select [(ngModel)]="selectedCollectionName" name="collectionName">
        <mat-option *ngFor="let collection of collections.CardCollections" [value]="collection.name">
          {{collection.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="selectedCollectionName" cdkFocusInitial>Add</button>
  </div>